
  .content h1 {
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
  }
  .content h2 {
    color: #0000cc;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
  }